.home{
  flex:4;
}
.homeWidgets{
  display: flex;
  margin: 20px;
}

/* RESPONSIVE DESIGN */
@media only screen and (max-width: 600px) {
  .homeWidgets{
    margin: 20px;
    flex-direction: column;
  }
}