.user{
  padding: 20px;
  flex: 4;
}
.titleButton{
  display: flex;
  justify-content: space-between;
}

.create{
  border: none;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(72, 81, 206);
  color: white;
  padding: 7px 25px;
}

.userDisplayEdit{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.displayUser{
  padding: 20px;
  flex: 2;
  margin-right: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.editForm{
  flex: 4;
  padding: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}